@import "./resets"; 
@import "./variables";

.header{
    display: flex;
    background: #000000;
    max-width: 200vh;
    width: 100%;
    color: $text-color;
    height: auto;

    #{&}__logo{
        color: $text-color;
        padding: 10px;
    }

    #{&}__search{
        display: flex;
        flex: 1 1 auto;
        justify-content: flex-end;
        align-items: center;
        margin: 0 10px 0 0;
    }
}