@import "./resets"; 
@import "./variables";

.header{
    display: flex;
    background: #000000;
    max-width: 200vh;
    width: 100%;
    color: $text-color;
    height: auto;

    #{&}__logo{
        color: $text-color;
        padding: 10px;
    }

    #{&}__search{
        display: flex;
        flex: 1 1 auto;
        justify-content: flex-end;
        align-items: center;
        margin: 0 10px 0 0;
    }

    #{&}__navbar{
        position: absolute;
        display: flex;
        flex: 1 1 auto;
        width: 100%;
        bottom: 835px;
        height: 20px;
        background-color: rgb(0, 80, 252);
        justify-content: center;
    }

    #{&}__list{
        display: inline-block;
        margin: 0 10px;
    }

    #{&}__list a{
        color: white;
        transition: .3s;
        padding: 0 15px;
    }

    #{&}__list a:hover{
        background-color: white;
        color: black;
    }

}

.main{
    margin: 30px 20px 10px 20px;
    padding: 5px;
    width: 80%;
    height: auto;

    #{&}__header2{
        margin: 7px 0;
    }

    #{&}__namesparagraph{
        margin: 10px 0 5px 0;
        padding: 5px;
    }

    #{&}__figcaption__paragraphgirls{
        color: rgb(223, 158, 169);
        font-weight: 600;
    }

    #{&}__figcaption__paragraphboys{
        color: blue;
        font-weight: 600;
    }

    #{&}__figcaption__paragraphrandom{
        color: black;
        font-weight: 600;
    }
    //can delete
    #{&}__colored{
        margin: 100px 0 0 0;
        background-color: #000;
        line-height: 1;
        display: grid;
        place-items: center;
    }

    #{&}__colored__header1{
        font-size: sans-serif;
        font-size: 15vw;
        font-weight: 900;
        width: -webkit-min-content;
        width: -moz-min-content;
        width: min-content;
        margin: auto;
        text-transform: uppercase;
        background: linear-gradient(219deg, 
  $color-1 19%, 
  transparent 19%,transparent 20%, 
  $color-2 20%, $color-2  39%,
  transparent 39%,transparent 40%, 
  $color-3 40%,$color-3 59% ,
  transparent 59%,transparent 60%, 
  $color-4 60%, $color-4 79%,
  transparent 79%, transparent 80%, 
  $color-5 80%);
/* обрезаем фон по контуру букв */
background-clip: text;
-webkit-background-clip: text;

/* делаем заголовок прозрачным, чтобы был виден цветной фон */
color: transparent;
    }

}