@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
}

:root {
	--prime-color: #003885;
	--prime-colorG: #fa09aa;
	--btn-font-size: 17px;
}

.header {
	padding: 5px;
	margin: 2px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__logo {
	color: black;
	font-size: 27px;
	font-family: Arial, Helvetica, sans-serif;
	user-select: none;
}

.header__logo strong {
	color: var(--prime-color);
}

.header__logo strong:first-child {
	color: var(--prime-colorG);
}

.header__form .form__search {
	border: 3px solid var(--prime-color);
	border-radius: 15px;
	width: 200px;
	padding: 4px;
}

.header__form .form__submit {
	border: 3px solid black;
	border-radius: 15px;
	width: 100px;
	background: var(--prime-color);
	color: white;
	padding: 3px;
	cursor: pointer;
}

.navbar {
	background: var(--prime-color);
}

.navbar .navbar__list {
	display: flex;
	justify-content: space-around;
}

.navbar .navbar__list .navbar__list__item a {
	color: white;
	font-size: 18px;
	transition: 0.2s;
}

.navbar .navbar__list .navbar__list__item a:hover {
	color: black;
	background: white;
	padding: 4px;
}

.main {
	padding: 10px;
}

.main .main__section {
	margin: 10px;
}

aside a:first-child {
	color: var(--prime-color);
}

aside a {
	color: var(--prime-colorG);
}

.section__table {
	width: 45%;
	height: auto;
}

.table__item {
	width: 35%;
	padding: 5px;
	/*border: 1px solid black;*/
}

.table__item__g {
	color: var(--prime-colorG);
}

.table__item__b {
	color: var(--prime-color);
}

.table__item__r {
	color: black;
}

.another__btn__g {
	width: 140px;
	height: 25px;
	background-color: var(--prime-colorG);
	border: 1px solid black;
	border-radius: 15px;
	color: white;
	font-size: var(--btn-font-size);
	transition: 0.2s;
	user-select: none;
}

.another__btn__g:active {
	color: black;
}

.another__btn__b {
	width: 140px;
	height: 25px;
	background-color: var(--prime-color);
	border: 1px solid white;
	border-radius: 15px;
	color: white;
	font-size: var(--btn-font-size);
	transition: 0.2s;
	user-select: none;
}

.another__btn__b:active {
	color: black;
}

.another__btn__r {
	width: 140px;
	height: 25px;
	background-color: black;
	border: 1px solid black;
	border-radius: 15px;
	color: white;
	font-size: var(--btn-font-size);
	transition: 0.2s;
	user-select: none;
}

.another__btn__r:active {
	color: black;
}

input[type="radio"] {
	display: none;
}

label {
	position: relative;
	color: var(--prime-color);
	font-family: "Poppins", sans-serif;
	font-size: 16px;
	border: 2px solid var(--prime-color);
	border-radius: 15px;
	padding: 5px 10px;
	margin: 5px;
	display: flex;
	align-items: center;
	cursor: pointer;
	user-select: none;
}

label:before {
	content: "";
	height: 10px;
	width: 10px;
	border: 2px solid var(--prime-color);
	border-radius: 50%;
	margin-right: 20px;
}

input[value="Girl"]:checked + label {
	background-color: var(--prime-colorG);
	color: white;
	height: 30px;
}

input[value="Boy"]:checked + label {
	background-color: var(--prime-color);
	color: white;
	height: 30px;
}

input[value="Any"]:checked + label {
	background-color: black;
	color: white;
	height: 30px;
}

input[type="radio"]:checked + label:before {
	height: 10px;
	width: 10px;
	border: 5px solid white;
	background-color: var(--prime-color);
}

input[value="Girl"]:checked + label:before {
	background-color: var(--prime-colorG);
}

input[value="Any"]:checked + label:before {
	background-color: black;
}
