@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
}

:root {
	--prime-color: #003885;
	--prime-colorG: #ff69b4;
}

.header {
	padding: 5px;
	margin: 2px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__logo {
	color: black;
	font-size: 27px;
	font-family: Arial, Helvetica, sans-serif;
}

.header__logo strong {
	color: var(--prime-color);
}

.header__logo strong:first-child {
	color: var(--prime-colorG);
}

.header__form .form__search {
	border: 3px solid var(--prime-color);
	border-radius: 15px;
	width: 200px;
	padding: 4px;
}

.header__form .form__submit {
	border: 3px solid black;
	border-radius: 15px;
	width: 100px;
	background: var(--prime-color);
	color: white;
	padding: 3px;
}

.navbar {
	background: var(--prime-color);
}

.navbar .navbar__list {
	display: flex;
	justify-content: space-around;
}

.navbar .navbar__list .navbar__list__item a {
	color: white;
	font-size: 18px;
	transition: 0.2s;
}

.navbar .navbar__list .navbar__list__item a:hover {
	color: black;
	background: white;
	padding: 4px;
}

.main {
	padding: 10px;
}

.main .main__section {
	margin: 10px;
}

aside a:first-child {
	color: var(--prime-color);
}

aside a {
	color: var(--prime-colorG);
}
